 <h1>
            <img class="company logo" src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png" width="400"></img><br>Workshop Todo List
        </h1>
        <ul> 
        <% @todos.each do |todo| %>
        <li>
            <input type="checkbox">
            <a href="show/<%= todo.id%>"><%= todo.derscription %></a>
            <span class= "pomodoro-estimate small-pomodoro_estimate"><%= todo.pomodoro_estimate %> pomodoros </span>
        </li>
        <% end %>
        </ul>
         
        <a class="button" href="/todo/new">Add Task...</a>
        <script>
            $(document).ready(function(){
    //Strike through todo when its checkbox is clicked
    $("ul").on("click", "input[type=checkbox]", function(){
      $(this).closest("li").toggleClass("completed-todo")  
    })
  })
        </script>
