<h1><img class="company logo" src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png" width="400"></img><br>Workshop Todo List
        <div>
 <h3>Todo#<%=params[:id]%></h3>
        <p><input type="checkbox"><%=@todo.derscription%><br><%=@todo.pomodoro_estimate%> Pomodoros</p>
        
        <a id="button-edit" href="#">Edit</a>
        <a href="#">Delete</a><br>
        <a href="../index.html">Go back...</a>
        </div>
        
        